body {
  color: #1c1c1c;
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 140%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 140%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

p {
  margin-bottom: 10px;
}

.header {
  z-index: 5;
  background-color: #fff;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.header-logo {
  position: relative;
}

.logo-desktop {
  z-index: 1;
  position: relative;
}

.logo-mobile {
  z-index: 1;
  display: none;
  position: relative;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container.vertical-align-center {
  transform: translate(0, 40%);
}

.countdown-section {
  color: #fff;
  background-color: #d0281d;
  margin-bottom: 15px;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.header-navigation {
  background-color: rgba(0, 0, 0, 0);
}

.header-menu-item {
  color: #1c1c1c;
  text-transform: uppercase;
  margin-right: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.header-menu-item.login {
  align-items: center;
  display: flex;
}

.header-menu-item.get-started {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(#726cf9 27%, #c57cff);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  display: flex;
}

.header-navigation-box, .navigation-wrapper {
  align-items: center;
  display: flex;
}

.text-center {
  text-align: center;
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 55px;
  font-weight: 400;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px 17px;
  box-shadow: 10px 0 30px rgba(0, 0, 0, .2);
}

.form-container.margin-top-100 {
  margin-top: 102px;
}

.form-group {
  width: 100%;
}

.warning-icon {
  display: none;
}

.form-control {
  height: 40px;
  color: #000;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  font-size: 1rem;
}

.form-control.textarea {
  min-height: 100px;
}

.prefix-cell {
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-cell {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-cell.form-cell-fn {
  width: 50%;
  max-height: none;
  padding-right: 4px;
  display: block;
}

.form-cell.form-cell-ln {
  width: 50%;
  max-height: 100%;
  min-width: 145px;
  padding-left: 3px;
  display: block;
}

.phone-row {
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 0;
  display: flex;
}

.form-row-nowrap {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
}

.phone-cell {
  width: 65%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-box {
  width: 100%;
  margin: 10px auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
}

.button.fullwidth {
  width: 100%;
}

.button.generate-pass {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 10px;
}

.button.white {
  color: #726cf9;
  background-color: #fff;
  background-image: none;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.hero-bg-1 {
  z-index: -1;
  width: 709px;
  height: 784px;
  background-image: url('../images/hero-bg-1.webp');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: -15%;
}

.hero-bg-2 {
  z-index: -1;
  width: 500px;
  height: 600px;
  background-image: url('../images/hero-bg-2.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 100px;
  position: absolute;
  top: 10%;
  right: 0;
}

.hero-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.trading {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.img-float-right {
  float: right;
  position: static;
}

.img-float-right.not-scam-img {
  z-index: 1;
  max-width: 400px;
  margin-bottom: -50%;
  position: relative;
  transform: translate(0, -50%);
}

.img-float-right.improve-your-trading-img {
  z-index: 1;
  position: relative;
}

.img-float-right.max-width-50-percent.contact-image {
  margin-top: -5%;
}

.trading-bg-1 {
  z-index: -1;
  width: 612px;
  height: 717px;
  background-image: url('../images/trading-bg-1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

.button-wrapper {
  width: 328px;
}

.button-wrapper.margin-0-auto, .button-wrapper.steps-action-button {
  margin-left: auto;
  margin-right: auto;
}

.button-wrapper.margin-top-30 {
  margin-top: 30px;
}

.trading-title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 140%;
}

.trading-text {
  max-width: 70%;
  margin-bottom: 45px;
}

.not-scam {
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.not-scam-bg-1 {
  z-index: 0;
  width: 500px;
  height: 590px;
  background-image: url('../images/not-scam-bg-1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -60%;
  right: 0;
}

.not-scam-title {
  z-index: 1;
  max-width: 70%;
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
  position: relative;
}

.not-scam-text {
  z-index: 1;
  max-width: 70%;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.improve-your-trading {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.improve-your-trading-bg-2 {
  z-index: -1;
  width: 470px;
  height: 470px;
  background-image: url('../images/improve-your-trading-bg-2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 470px;
  position: absolute;
  top: 0;
  right: 0;
}

.improve-your-trading-title {
  max-width: 70%;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 140%;
}

.improve-your-trading-text {
  max-width: 70%;
  margin-bottom: 40px;
}

.features {
  padding-top: 50px;
  padding-bottom: 150px;
  position: relative;
}

.featues-bg-1 {
  width: 68px;
  height: 136px;
  background-image: url('../images/features-bg-1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 68px;
  position: absolute;
  top: 0;
  left: 0;
}

.features-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.features-text, .features-list {
  margin-bottom: 40px;
}

.features-list-item-header-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}

.features-list-item-header-title {
  margin-bottom: 20px;
}

.steps {
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  padding-top: 100px;
  padding-bottom: 100px;
}

.steps-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 140%;
}

.steps-list {
  margin-bottom: 50px;
  display: flex;
}

.step-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 40px 20px;
}

.step-header-line-wrapper {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.step-header-line-text {
  color: #726cf9;
  flex: none;
  margin-right: 10px;
  display: inline;
}

.step-header-line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #726cf9, #c57cff);
}

.step-header-line-title {
  margin-bottom: 20px;
}

.faq {
  padding-top: 130px;
  padding-bottom: 100px;
  position: relative;
}

.faq-bg-2 {
  z-index: -1;
  width: 151px;
  height: 310px;
  background-image: url('../images/faq-bg-2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 151px;
  position: absolute;
  bottom: 30%;
  left: 0;
}

.faq-bg-3 {
  z-index: -1;
  width: 570px;
  height: 707px;
  background-image: url('../images/faq-bg-3.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 594px;
  position: absolute;
  top: 0;
  right: 0;
}

.faq-title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 140%;
}

.faq-text {
  margin-bottom: 35px;
}

.faq-accordion {
  margin-bottom: 40px;
}

.faq-answer {
  padding: 10px 65px;
}

.faq-arrow {
  width: 28px;
  height: 28px;
  max-height: 28px;
  max-width: 28px;
  min-height: 28px;
  min-width: 28px;
  color: #fff;
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  transition: transform .2s;
  display: flex;
}

.faq-accordion-wrap {
  text-align: justify;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  display: none;
}

.faq-accordion-title {
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  display: flex;
  position: relative;
}

.faq-accordion-item {
  color: #191919;
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, .1), #fff);
  border: 1px #b5b5b6;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .23);
}

.faq-number {
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  color: #fff;
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
}

.heading {
  flex: 1;
}

.footer {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copyright-and-navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 20%;
}

.copy-and-nav {
  align-items: center;
  display: flex;
}

.footer-link {
  color: #54505f;
  text-transform: uppercase;
  margin-right: 5px;
  padding-right: 5px;
  font-size: 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.footer-link.footer-link-last {
  border-right-style: none;
}

.footer-copyright {
  color: #54505f;
  font-size: 14px;
  display: inline;
}

.contact-bg-1 {
  z-index: -1;
  width: 695px;
  height: 720px;
  background-image: url('../images/contact-bg-1.png');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.max-width-50-percent {
  max-width: 50%;
}

.email-and-name {
  display: flex;
}

.what-is {
  padding-top: 70px;
  position: relative;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.what-is-bg-1 {
  z-index: -1;
  width: 498px;
  height: 498px;
  background-image: url('../images/what-is-bg-1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10%;
  right: 0;
}

.how-it-working {
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  padding-top: 100px;
  padding-bottom: 100px;
}

.how-it-working-text {
  color: #fff;
}

.our-team {
  padding-top: 140px;
}

.our-team-title {
  margin-bottom: 30px;
}

.our-advantage {
  padding-top: 50px;
}

.our-advantage-title {
  margin-bottom: 30px;
}

.login-and-register-forms {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.login-wrap {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 32px;
  padding: 40px;
  box-shadow: 10px 0 30px rgba(0, 0, 0, .2);
}

.form-block {
  margin-bottom: 0;
}

.login-bg-1 {
  z-index: -1;
  width: 290px;
  height: 400px;
  background-image: url('../images/login-bg-1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: 0;
}

.login-bg-2 {
  z-index: -1;
  width: 405px;
  height: 500px;
  background-image: url('../images/login-bg-2.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.max-width-80-percent {
  max-width: 80%;
}

.still-not-member {
  background-image: linear-gradient(to right, #726cf9 27%, #c57cff);
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.still-not-member-title {
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 140%;
}

.still-not-member-text {
  color: #fff;
  margin-bottom: 30px;
  font-size: 24px;
}

.privacy-policy, .terms-and-conditions, .cookie-policy {
  padding-top: 50px;
  padding-bottom: 50px;
}

.b-error {
  justify-content: center;
  align-items: center;
  display: flex;
}

.pop-h {
  text-align: center;
  margin-top: 0;
  line-height: 1.3;
}

.pop-p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3;
}

.margin-right-10 {
  margin-right: 10px;
}

.col {
  height: auto;
  display: flex;
}

.col.flex-direction-col {
  flex-direction: column;
}

.position-absolute-right-0-top-15-percent {
  position: absolute;
  top: 15%;
  right: 0;
}

.position-absolute-right-0-top-15-percent.max-width-35-percent {
  max-width: 30%;
}

.position-absolute-right-0-top-15-percent.max-width-35-percent.z-index-2 {
  z-index: 2;
}

.contact-form-warp {
  max-width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 70px 60px;
}

.text-center-2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.highlights-section {
  padding-top: 20px;
  padding-bottom: 100px;
}

.high-table {
  background-color: #fff;
  border: 1px #000;
  border-style: solid none none solid;
}

.tr {
  display: flex;
}

.td {
  width: 50%;
  min-height: 65px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.high-img {
  width: 25px;
  height: 25px;
  min-width: 25px;
  float: left;
  margin-right: 20px;
}

.high-text {
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 1.2em;
}

.login-subtitle {
  margin-top: 30px;
}

.about-title, .about-subtitle {
  margin-bottom: 30px;
}

.form-footer {
  margin-top: 13px;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

.main-cols {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.video-col {
  width: 64%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-col {
  width: 34%;
}

.form-row {
  width: auto;
  flex-wrap: nowrap;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
}

.trading-bg2 {
  z-index: -1;
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 80px 80px #fff;
}

.improve-your-trading-bg {
  z-index: -1;
  width: 300px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: -50px;
  box-shadow: 0 0 80px 80px #fff;
}

.features-bg {
  z-index: -1;
  width: 60%;
  height: 20%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 80px 80px #fff;
}

.main-image {
  border-radius: 20px;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .header-logo {
    padding-bottom: 0;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .countdown-section {
    display: none;
  }

  .header-menu {
    margin-top: 15px;
    position: relative;
  }

  .header-navigation {
    position: static;
  }

  .header-menu-item {
    text-align: center;
    flex: 1;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-menu-item.login {
    justify-content: center;
  }

  .header-navigation-box {
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 10px 15px;
    display: block;
    top: 60px;
    left: 0;
    right: 0;
  }

  .form-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-box {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-bg-1 {
    left: -50%;
  }

  .trading {
    overflow: hidden;
  }

  .img-float-right.not-scam-img {
    width: 100%;
    max-width: none;
    float: none;
    margin-bottom: 0%;
    display: block;
    transform: none;
  }

  .img-float-right.improve-your-trading-img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img-float-right.max-width-50-percent {
    width: 100%;
    max-width: none;
    float: none;
    display: none;
  }

  .img-float-right.no-float-on-991 {
    width: 100%;
    height: auto;
    float: none;
  }

  .trading-bg-1 {
    right: -10%;
  }

  .button-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .trading-text {
    max-width: none;
  }

  .not-scam-bg-1 {
    width: 100%;
    height: 100%;
    background-size: contain;
    bottom: auto;
  }

  .not-scam-title, .not-scam-text {
    max-width: none;
  }

  .improve-your-trading {
    margin-top: 50px;
  }

  .improve-your-trading-title, .improve-your-trading-text {
    max-width: none;
  }

  .steps-list {
    flex-direction: column;
    margin-bottom: 0;
  }

  .step-item {
    width: 100%;
  }

  .footer-logo {
    width: auto;
  }

  .contact-bg-1 {
    width: 100%;
    height: 100%;
  }

  .what-is, .our-team {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .our-advantage {
    padding-bottom: 50px;
  }

  .max-width-80-percent.fullwidth-on-991 {
    max-width: 100%;
  }

  .still-not-member {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .col {
    margin-bottom: 15px;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .icon {
    color: #000;
  }

  .login_form-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .position-absolute-right-0-top-15-percent.max-width-35-percent.z-index-2.display-none-on-991 {
    display: none;
  }

  .contact-form-warp {
    max-width: 100%;
  }

  .main-cols {
    flex-direction: column;
  }

  .video-col {
    width: 100%;
    min-height: 100%;
  }

  .form-col {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .main-image {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .container.vertical-align-center {
    transform: none;
  }

  .header-navigation {
    background-color: #fff;
  }

  .header-menu-item {
    max-width: none;
  }

  .header-navigation-container, .header-navigation-box {
    background-color: #fff;
  }

  .form-container {
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .form-cell {
    width: 100%;
  }

  .form-cell.form-cell-fn {
    width: 100%;
    padding-right: 5px;
  }

  .form-cell.form-cell-ln {
    width: 100%;
    padding-left: 5px;
  }

  .hero {
    padding-top: 0;
  }

  .hero-bg-1 {
    display: none;
  }

  .trading-bg-1 {
    right: -50%;
  }

  .button-wrapper {
    margin-bottom: 20px;
  }

  .trading-text {
    margin-bottom: 15px;
  }

  .not-scam {
    overflow: hidden;
  }

  .not-scam-text {
    margin-bottom: 15px;
  }

  .improve-your-trading {
    overflow: hidden;
  }

  .improve-your-trading-text {
    margin-bottom: 15px;
  }

  .features {
    padding-bottom: 50px;
    overflow: hidden;
  }

  .features-list {
    margin-bottom: 15px;
  }

  .steps {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .faq {
    padding-top: 100px;
    padding-bottom: 60px;
    overflow: hidden;
  }

  .faq-title {
    font-size: 35px;
  }

  .faq-text {
    margin-bottom: 15px;
  }

  .footer-copyright-and-navigation, .copy-and-nav {
    flex-direction: column;
  }

  .footer-link {
    margin-bottom: 10px;
  }

  .login-wrap {
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pop-h {
    font-size: 30px;
    line-height: 35px;
  }

  .pop-p {
    font-size: 16px;
    line-height: 20px;
  }

  .text-center-2 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .highlights-section {
    padding-bottom: 80px;
  }

  .td {
    padding: 9px 10px;
  }

  .high-img {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 10px;
  }

  .high-text {
    font-size: 18px;
  }

  .form-row {
    flex-direction: column;
  }

  .name-col {
    padding-left: 0;
  }

  .email-col {
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .form-cell.form-cell-ln {
    min-width: 145px;
  }

  .hero-bg-2 {
    width: 100%;
  }

  .login-wrap {
    width: auto;
  }

  .pop-h {
    font-size: 28px;
  }

  .highlights-section {
    padding-bottom: 60px;
  }

  .high-text {
    font-size: 15px;
  }
}


